* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(img/back.png);
    background-size: cover;
    background-position: center;
    opacity: 100;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fbff0a;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.topic ul li {
    list-style: none;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
}

.topic {
    width: 20;
    margin: auto;
    padding: 3% 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic ul li a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    text-transform: uppercase;
}

.topic ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffa601;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.topic ul li:hover::after {
    width: 100%;
}

.topic1 {
    width: 20;
    margin: auto;
    padding: 5% 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic1 ul li {
    list-style: none;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
}

.topic1 ul li a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    text-transform: uppercase;
}

.topic1 ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffa601;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.topic1 ul li:hover::after {
    width: 100%;
}

.banner2 {
    width: 100%;
    height: 100vh;
    background-image: url(img/back1.png);
    background-size: cover;
    background-position: center;
    opacity: 100;
}

.table-box {
    margin: auto;
    padding-top: 10%;
    width: 100%;
    height: 100vh;
    background-image: url(img/backr.png);
    background-size: cover;
    background-position: center;
}

.table-row {
    color: white;
    display: table;
    width: 80%;
    margin: 10px auto;
    padding: 12px 0;
    font-size: auto;
}

.table-cell {
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    vertical-align: middle;
}

.utk {
    color: rgb(211, 118, 118);
    padding-top: 18%;
    padding-left: 30%;
}